.flex-container a:hover, .flex-slider a:hover {
	outline: none;
}
.slides, .slides > li, .flex-control-nav, .flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}
.flex-pauseplay span {
	text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
	margin: 0;
	padding: 0;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}
.flexslider .slides img {
	width: 100%;
	display: block;
}
.flexslider .slides:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .flexslider .slides {
	display: block;
}
* html .flexslider .slides {
	height: 1%;
}
.no-js .flexslider .slides > li:first-child {
	display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
	position: relative;
	zoom: 1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
	-o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
	box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}
.flexslider .slides {
	zoom: 1;
}
.flexslider .slides img {
	height: auto;
	-moz-user-select: none;
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	max-height: 300px;
}
@-moz-document url-prefix() {
 .loading .flex-viewport {
 max-height: none;
}
}
.carousel li {
	margin-right: 5px;
}
.flex-direction-nav {
 *height: 0;
}
.flex-direction-nav a {
	text-decoration: none;
	display: block;
	width: 5%;
	margin: 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.flex-direction-nav a:before {
	display: block;
	content: "";
	width: 100%;
	height: 0;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 100% auto;
}
.flex-direction-nav a.flex-next:before {
	background-position: right top;
}
.flex-direction-nav .flex-prev {
	left: 2%;
}
.flex-direction-nav .flex-next {
	right: 2%;
}
.flexslider:hover .flex-direction-nav .flex-prev {
	opacity: 0.7;
	left: .5%;
}
.flexslider:hover .flex-direction-nav .flex-next {
	opacity: 0.7;
	right: .5%;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover, .flexslider:hover .flex-direction-nav .flex-next:hover {
	opacity: 1;
}
.flex-direction-nav .flex-disabled {
	opacity: 0!important;
	filter: alpha(opacity=0);
	cursor: default;
	z-index: -1;
}
.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 9%;
	text-align: center;
	z-index: 99;
}
.flex-control-nav li {
	margin: 0 1%;
	display: inline-block;
	width: 2%;
	zoom: 1;
 *display: inline;
}
.flex-control-paging li a {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	display: block;
	background: #FFFFFF;
	background: rgba(225, 225, 225, 1);
	cursor: pointer;
	text-indent: -9999px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.flex-control-paging li a:hover {
	background: #FF0000;
	background: rgba(225, 0, 0, 1);
}
.flex-control-paging li a.flex-active {
	background: #000000;
	background: rgba(0, 0, 0, 1);
	cursor: default;
}
.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}
.flex-control-thumbs img {
	width: 100%;
	height: auto;
	display: block;
	opacity: .7;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.flex-control-thumbs img:hover {
	opacity: 1;
}
.flex-control-thumbs .flex-active {
	opacity: 1;
	cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
.flex-direction-nav .flex-prev {
	opacity: 1;
	left: 5%;
}
.flex-direction-nav .flex-next {
	opacity: 1;
	right: 5%;
}
.flex-control-nav li {
	width: 3%;
}
.flex-direction-nav a {
	width: 3%;
}
.flexslider:hover .flex-direction-nav .flex-prev {
	left: 3%;
}
.flexslider:hover .flex-direction-nav .flex-next {
	right: 3%;
}
.flex-control-nav {
	bottom: 15%;
}
}
/* ====================================================================================================================
 * DIFFERENT
 * ====================================================================================================================*/
.flexslider {
	display:inline-block;
	width:252px;
	height:184px;
	margin:42px 0 0 -41px;
}
.flexslider .slides {
	width:252px;
	height:141px;
}
.flexslider .slides li a {
	display: block;
	width: 100%;
	height: 0;
padding-bottom:calc(184/252*100%);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center top;
}
.flexslider .slides li:nth-child(1) a {
	background-image: url(http://img.udn.com/art/20181001_mk_SP_04/images/w01.png);
}
.flexslider .slides li:nth-child(2) a {
	background-image: url(http://img.udn.com/art/20181001_mk_SP_04/images/w02.png);
}
.flexslider .slides li:nth-child(3) a {
	background-image: url(http://img.udn.com/art/20181001_mk_SP_04/images/w03.png);
}
.flexslider .slides li:nth-child(4) a {
	background-image: url(http://img.udn.com/art/20181001_mk_SP_04/images/w04.png);
}
@media screen and (max-width: 640px) {
  .flexslider {
	  display:block;
	  width:100%;
	  height: auto;
	  margin:0;
  }
  .flexslider .slides {
	  width:100%;
	  height:auto;
  }  
  .flexslider .slides li a {
  padding-bottom:calc(172/640*100%);
  }
  .flexslider .slides li:nth-child(1) a {
	  background-image: url(http://img.udn.com/art/20181001_mk_SP_04/images/m01.png);
  }
  .flexslider .slides li:nth-child(2) a {
	  background-image: url(http://img.udn.com/art/20181001_mk_SP_04/images/m02.png);
  }
  .flexslider .slides li:nth-child(3) a {
	  background-image: url(http://img.udn.com/art/20181001_mk_SP_04/images/m03.png);
  }
  .flexslider .slides li:nth-child(4) a {
	  background-image: url(http://img.udn.com/art/20181001_mk_SP_04/images/m04.png);
  }
}
.flex-direction-nav a:before {
 padding-bottom:calc(25/14*100%);
	background-image: url(http://img.udn.com/art/20181001_mk_SP_04/images/button_prev.png);
}
.flex-direction-nav a.flex-next:before {
	background-image: url(http://img.udn.com/art/20181001_mk_SP_04/images/button_next.png);
}
